@tailwind base;
@tailwind components;
@tailwind utilities;

.statsIconStyle {
  @apply text-newGreen w-[5vw] bg-newGreen/15 h-full rounded-xl p-5;
}

.ACTIVE {
  @apply text-newGreen bg-newGreen/10 font-semibold border-2 border-newGreen w-[7vw] py-1.5 rounded-lg;
}

.BLOCKED {
  @apply text-red-500 bg-red-500/10 font-semibold border-2 border-red-500 w-[7vw] py-1.5 rounded-lg;
}

.INVITED {
  @apply text-blue-500 bg-blue-500/10 font-semibold border-2 border-blue-500 w-[7vw] py-1.5 rounded-lg;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
